/* line 1, ../sass/screen.sass */
.landmark-dimensional {
  font-family: "Landmark Dimensional A", "Landmark Dimensional B";
  font-weight: 400;
  font-style: normal;
}

/* line 6, ../sass/screen.sass */
.landmark-inline {
  font-family: "Landmark Inline A", "Landmark Inline B";
  font-weight: 400;
  font-style: normal;
}

/* line 11, ../sass/screen.sass */
.landmark-shadow {
  font-family: "Landmark Shadow A", "Landmark Shadow B";
  font-weight: 400;
  font-style: normal;
}

/* line 16, ../sass/screen.sass */
.landmark-regular {
  font-family: "Landmark Regular A", "Landmark Regular B";
  font-weight: 400;
  font-style: normal;
}
